

.admin-container {
    display: flex;
    height: 100vh;
}


.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.sidebar ul li a:hover {
    background-color: #555;
}



.admin-summary-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.admin-summary-card h3 {
    font-size: 25px;
    margin-bottom: 10px;
    color: #1f842d;
}

.admin-summary-card p {
    font-size: 24px;
    font-weight: bold;
    color: #ba5807;
}
.admin-container {
    display: flex;
    height: 100vh;
    overflow: hidden; /* Prevents content overflow */
}

.sidebar {
    width: 250px;
    background-color: #03462b;
    color: #fff;
    padding: 20px;
    overflow-y: auto; 
    height: 100%; 
}

.main-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}


@media screen and (max-width: 768px) {
    .admin-container {
        flex-direction: column; /* Stack sidebar on top of main content */
    }

    .sidebar {
        width: 100%; /* Occupy full width */
        top: 0;
        left: 0;
        height: 15%;
        z-index: 1000; /* Ensure sidebar appears above other content */
        background-color: #03462b; /* Sidebar background color */
        overflow-y: auto; /* Enable vertical scrolling */
        transition: width 0.3s; /* Smooth transition */
        display: flex; /* Use flexbox */
        flex-direction: column; /* Stack items vertically */
        align-items: flex-start; /* Align items at the start (left) */
        padding-left: 20px; /* Add padding to the left */
    }

    .sidebar ul {
        list-style-type: none;
        padding: 0;
    }
    
    

    .sidebar.active {
        width: 50%; 
    }

    .main-content {
        flex: 1; /* Occupy remaining space */
    }

    .hamburger-menu {
        display: block; 
        color: #fff;
        position: fixed; 
        top: 20px;
        left: 20px;
        cursor: pointer;
        z-index: 1100; 
    }
}




